
server:
  port: 7080

topic:
  name: test2
  
eureka:
  client:
    service-url:
     defaultZone: http://ec2-54-173-158-170.compute-1.amazonaws.com:8761/eureka
spring:
  application:
    name: cambio-crud

#  kafka:
#    consumer:
#      group-id: worker
#      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
#      properties:
#        spring:
#          json:
#            value:
#              default:
#                type: br.com.erudio.dtos.MessageConsumerDTO
#    bootstrap-servers: localhost:9091

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://ec2-44-204-187-112.compute-1.amazonaws.com:3336/cambio_service?useTimezone=true&serverTimezone=UTC
    username: root
    password: 
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
  flyway:
    url: jdbc:mysql://ec2-44-204-187-112.compute-1.amazonaws.com:3336/
    schemas: cambio_crud
    user: root
    password: 
    
springdoc:
  api-docs:
    path: book_crud/v3/api-docs